<footer
  class="border-t border-white/10 bg-baltic-900"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-16">
    <div class="pt-16 xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="t xl:col-span-1 lg:ml-auto">
        <a
          href="./"
          class="text-lg font-bold tracking-tighter text-white transition duration-500 ease-in-out transform tracking-relaxed lg:pr-8"
        >
          {{>"global/logo"}}
        </a>
      </div>
      <div
        class="grid grid-cols-2 gap-8 mt-12 xl:mt-0 xl:col-span-2 lg:order-first"
      >
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
          <div>
            <h3
              class="text-sm font-medium tracking-wider uppercase text-midnightText"
            >
              UI/UX &amp; Dev
            </h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://www.wickedbackgrounds.com/"
                  class="text-sm text-midnightSky hover:text-midnightCoral"
                >
                  Wicked Backgrounds
                </a>
              </li>
              <li>
                <a
                  href="https://www.colorsandfonts.com/"
                  class="text-sm text-midnightSky hover:text-midnightCoral"
                >
                  Colors &amp; Fonts
                </a>
              </li>
              <li>
                <a
                  href="https://svggradients.com/"
                  class="text-sm text-midnightSky hover:text-midnightCoral"
                >
                  SVG Gradients
                </a>
              </li>
              <li>
                <a
                  href="https://www.svgdoodles.com/"
                  class="text-sm text-midnightSky hover:text-midnightCoral"
                >
                  SVG Doodles
                </a>
              </li>
              <li>
                <a
                  href="https://www.serendipitytheme.com/"
                  class="text-sm text-midnightSky hover:text-midnightCoral"
                >
                  Serendipity Theme
                </a>
              </li>
              <li>
                <a
                  href="https://www.brutalist.one/"
                  class="text-sm text-midnightSky hover:text-midnightCoral"
                >
                  Brutalist One</a
                >
              </li>
            </ul>
          </div>
          <div>
            <h3
              class="text-sm font-medium tracking-wider uppercase text-midnightText"
            >
              Socials
            </h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://589.studio"
                  class="text-sm text-midnightSky hover:text-midnightCoral"
                >
                  Studio 589
                </a>
              </li>
              <li>
                <a
                  href="https://twitter.com/Serendpt_Theme"
                  class="text-sm text-midnightSky hover:text-midnightCoral"
                >
                  Twitter
                </a>
              </li>
              <li>
                <a
                  href="https://dribbble.com/MichaelAndreuzza"
                  class="text-sm text-midnightSky hover:text-midnightCoral"
                >
                  Dribbble
                </a>
              </li>
              <li>
                <a
                  href="https://github.com/serendipity-theme"
                  class="text-sm text-midnightSky hover:text-midnightCoral"
                >
                  GitHub
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="bg-baltic-900">
  <div
    class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:flex md:items-center md:justify-between lg:px-16"
  >
    <div class="mt-8 md:mt-0 md:order-1">
      <p class="text-base text-center text-slate-400">
        <span class="mx-auto mt-2 text-sm text-white">
          Copyright © 2020 - 2022 || Crafted by
          <a
            href="https://twitter.com/Mike_Andreuzza"
            class="mx-2 text-midnightSky hover:text-white"
            rel="noopener noreferrer"
            >@Mike_Andreuzza</a
          >
        </span>
      </p>
    </div>
  </div>
</footer>
