<footer class="border-t border-white/10" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-16">
    <div class="pt-16 xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="t xl:col-span-1 lg:ml-auto">
        <a
          href="./"
          class="text-lg font-bold tracking-tighter text-white transition duration-500 ease-in-out transform tracking-relaxed lg:pr-8"
        >
          {{>"global/logo"}}
        </a>
      </div>
      <div
        class="grid grid-cols-2 gap-8 mt-12 xl:mt-0 xl:col-span-2 lg:order-first"
      >
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
          <div>
            <h3
              class="text-sm font-medium tracking-wider uppercase text-midnightText"
            >
              UI/UX &amp; Dev
            </h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://www.wickedbackgrounds.com/"
                  class="text-sm text-midnightMint hover:text-midnightMint/70"
                >
                  Wicked Backgrounds
                </a>
              </li>
              <li>
                <a
                  href="https://www.colorsandfonts.com/"
                  class="text-sm text-midnightMint hover:text-midnightMint/70"
                >
                  Colors &amp; Fonts
                </a>
              </li>
              <li>
                <a
                  href="https://svggradients.com/"
                  class="text-sm text-midnightMint hover:text-midnightMint/70"
                >
                  SVG Gradients
                </a>
              </li>
              <li>
                <a
                  href="https://www.svgdoodles.com/"
                  class="text-sm text-midnightMint hover:text-midnightMint/70"
                >
                  SVG Doodles
                </a>
              </li>
              <li>
                <a
                  href="https://www.serendipitytheme.com/"
                  class="text-sm text-midnightMint hover:text-midnightMint/70"
                >
                  Serendipity Theme
                </a>
              </li>
              <li>
                <a
                  href="https://www.brutalist.one/"
                  class="text-sm text-midnightMint hover:text-midnightMint/70"
                >
                  Brutalist One</a
                >
              </li>
            </ul>
          </div>
          <div>
            <h3
              class="text-sm font-medium tracking-wider uppercase text-midnightText"
            >
              Socials
            </h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://589.studio"
                  class="text-sm text-midnightMint hover:text-midnightMint/70"
                >
                  Studio 589
                </a>
              </li>
              <li>
                <a
                  href="https://twitter.com/Serendpt_Theme"
                  class="text-sm text-midnightMint hover:text-midnightMint/70"
                >
                  Twitter
                </a>
              </li>
              <li>
                <a
                  href="https://dribbble.com/MichaelAndreuzza"
                  class="text-sm text-midnightMint hover:text-midnightMint/70"
                >
                  Dribbble
                </a>
              </li>
              <li>
                <a
                  href="https://github.com/serendipity-theme"
                  class="text-sm text-midnightMint hover:text-midnightMint/70"
                >
                  GitHub
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="">
  <div
    class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:flex md:items-center md:justify-between lg:px-16"
  >
    <div class="mt-8 md:mt-0 md:order-1">
      <p class="text-base text-center text-slate-400">
        <span class="mx-auto mt-2 text-sm text-white">
          Copyright © 2020 - 2022 || Crafted by
          <a
            href="https://twitter.com/Mike_Andreuzza"
            class="mx-2 text-midnightMint hover:text-midnightMint/70"
            rel="noopener noreferrer"
            >@Mike_Andreuzza</a
          >
        </span>
      </p>
    </div>
    <a
      href="https://www.producthunt.com/posts/serendipity-3?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-serendipity&#0045;3"
      target="_blank"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="250px"
        height="54px"
        viewBox="0 0 250 54"
        version="1.1"
      >
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-130.000000, -73.000000)">
            <g transform="translate(130.000000, 73.000000)">
              <rect
                stroke=""
                fill="#1c1e2d"
                x="0.5"
                y="0.5"
                width="249"
                height="53"
                rx="10"
              />
              <text
                font-family="Helvetica-Bold, Helvetica"
                font-size="9"
                font-weight="bold"
                fill="#FFFFFF"
              >
                <tspan x="33" y="20">Product Hunt</tspan>
              </text>
              <text
                font-family="Helvetica-Bold, Helvetica"
                font-size="16"
                font-weight="bold"
                fill="#FFFFFF"
              >
                <tspan x="30" y="40">#1 Product of the Day</tspan>
              </text>
            </g>
          </g>
        </g>
      </svg>
    </a>
  </div>
</footer>
