<div>
  <span
    class="inline-flex items-center transition duration-500 ease-in-out transform lg:text-2xl tracking-relaxed"
  >

    <svg class="w-6 h-6" viewBox="0 0 372 372" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="186" cy="186" r="186" fill="url(#paint0_radial_126_44)"/>
<defs>
<radialGradient id="paint0_radial_126_44" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(328.856 19.1753) rotate(140.704) scale(424.94)">
<stop stop-color="#FDFDFE"/>
<stop offset="0.182292" stop-color="#F1F1F4"/>
<stop offset="0.34375" stop-color="#D8DAE4"/>
<stop offset="0.5625" stop-color="#8388AD"/>
<stop offset="0.78125" stop-color="#5F6488"/>
<stop offset="1" stop-color="#4E5377"/>
</radialGradient>
</defs>
</svg>

  </span>
</div>
