<div
  x-data="{ open: false }"
  class="flex flex-col w-full p-4 mx-auto sm:px-6 2xl:max-w-7xl lg:px-36 lg:items-center lg:justify-between lg:flex-row md:px-6"
>
  <div class="flex flex-row items-center justify-between">
    <a href="./index.html">
      <div class="inline-flex items-center px-2 py-4">
        {{>"global/logo" }}
        <span
          class="ml-3 text-base tracking-tighter transition duration-500 ease-in-out transform font-display font-base text-morningCoral hover:text-morningText tracking-relaxed"
        >
          Serendipity
        </span>
      </div>
    </a>

    <button
      class="lg:hidden focus:outline-none"
      @click="open = !open"
      aria-label="hidden"
    >
      <svg fill="#3788BE" viewBox="0 0 20 20" class="w-6 h-6">
        <path
          x-show="!open"
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
        <path
          x-show="open"
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
          style="display: none"
        ></path>
      </svg>
    </button>
  </div>
  <nav
    :class="{'flex': open, 'hidden': !open}"
    class="flex-col items-end flex-grow hidden px-5 lg:flex lg:justify-start lg:flex-row"
  >
    <a
      class="px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent font-display text-morningText text-opacity-90 hover:text-morningSubtle focus:outline-none focus:shadow-none focus:text-morningCoral md:my-0"
      href="./themes.html"
      >Interfaces</a
    >
    <a
      class="hidden px-2 py-4 text-base transition duration-1000 ease-in-out transform border-b-2 border-transparent font-display text-morningText text-opacity-90 hover:text-morningSubtle focus:outline-none focus:shadow-none focus:text-morningCoral md:my-0"
      href="/color-palettes"
      >Color Palette</a
    >

    <a
      target="_blank"
      class="px-2 py-4 text-base transition duration-1000 ease-in-out transform font-display text-morningText text-opacity-90 hover:text-morningSubtle focus:outline-none focus:shadow-none focus:text-morningCoral md:my-0 lg:ml-auto"
      href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fserendipitytheme.com%2F&amp;text=Serendipity%20Theme%3A%20Elegant%2C%20minimal%2C%20and%20clean%20color%20palette%20to%20give%20your%20eyes%20rest%20on%20different%20interfaces.%20by%20%40Mike_Andreuzza%20and%20contributors"
    >
      Share on Twitter
    </a>
    <a
      href="https://wickedtemplates.com/"
      target="_blank"
      class="px-2 py-4 text-base transition duration-1000 ease-in-out transform font-display text-morningText text-opacity-90 hover:text-morningSubtle focus:outline-none focus:shadow-none focus:text-morningCoral md:my-0"
    >
      <span>Looking for Tailwind templates? &nbsp; →</span>
    </a>
  </nav>
</div>
