<div class="fixed z-50 w-full">
  <div
    class=" sm:px-6 2xl:max-w-7xl lg:items-center lg:justify-between lg:flex-row flex flex-col w-full p-5 mx-auto bg-white"
  >
    <div
      class=" lg:flex-row lg:items-center lg:justify-between flex flex-col w-full"
    >
      <a class="focus:outline-none focus:shadow-outline">
        <div class="inline-flex items-center">
          {{>"global/logo"}}
          <span
            class=" text-mirage hover:text-cinder text-opacity-80 tracking-relaxed ml-2 text-base font-light tracking-tighter transition duration-500 ease-in-out transform"
          >
            Serendipity<span class="font-medium">Theme</span>
          </span>
        </div>
      </a>

      <div class="lg:ml-auto lg:mt-0 mt-6">
        <span
          class=" text-mirage hover:text-cinder text-opacity-80 tracking-relaxed text-base font-light tracking-tighter transition duration-500 ease-in-out transform"
        >
          theme<span class="font-medium">designed</span>&amp;<span
            class="font-bold"
            >developed</span
          >
          by
          <a href="https://twitter.com/Mike_Andreuzza" class="hover:text-salmon"
            >@Mike_Andreuzza</a
          >
        </span>
      </div>
    </div>
  </div>
</div>
