<section>
  <div class="2xl:max-w-7xl 2xl:mx-auto w-full p-5">
    <dl class="grid w-full grid-cols-1 py-24">
      <div>
        <dt class="max-w-3xl">
          <h1
            class=" text-tuna lg:text-4xl font-serif text-xl font-light tracking-tight"
          >
            serendipityTheme
            <span class="text-ship">
              has been crafter with the intention to not damage the eyes of the
              user with neon or poorly applied contrast. – Created from
              frustration.
            </span>
          </h1>
        </dt>
        <dd class="max-w-7xl w-full mt-5 space-y-6">
          <div class="lg:grid-cols-8 lg:pt-12 grid grid-cols-1">
            <div class="lg:col-span-2 space-y-4">
              <div>
                <div class="relative mt-6">
                  <div
                    class="absolute inset-0 flex items-center"
                    aria-hidden="true"
                  >
                    <div class="w-full border-t border-gray-300"></div>
                  </div>
                  <div class="relative flex justify-start">
                    <span class="text-tuna pr-3 font-serif text-lg bg-white">
                      Dark Mode Colors.
                    </span>
                  </div>
                </div>
              </div>
              <p class="text-ship text-base font-normal tracking-normal">
                The dark theme is using less sturated color to improve
                legibility and reduce visual vibration.
              </p>
            </div>
            <div
              class=" lg:grid-cols-5 lg:p-10 lg:mt-0 grid items-center grid-cols-3 col-span-6 gap-2 mt-12"
            >
              <div class="border-magnesium text-left border">
                <div class="bg-mirage px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#181e2b</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-pearl px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#1e2431</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-express px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#222835</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-harp px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#caccc5</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-salmon px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#ff8074</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-bombon px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#ff5c98</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-lavender px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#c693ff</div>
              </div>

              <div class="border-magnesium text-left border">
                <div class="bg-electricBlue px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#81f1ef</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-unBlue px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#77a9ff</div>
              </div>
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</section>
<section
  class="lg:bg-top bg-darkThemeHero lg:h-screen h-96 bg-right bg-cover"
></section>
