<section>
  <div class="w-full p-5 2xl:max-w-7xl 2xl:mx-auto">
    <dl class="grid w-full grid-cols-1 py-24">
      <div>
        <dt class="max-w-3xl mx-auto">
          <h1
            class="font-serif text-xl font-light tracking-tight text-morningText dark:text-midnightText lg:text-4xl"
          >
            Serendipity
            <span>
              has been crafted with the intention to not damage the eyes of the
              user with poorly applied contrast. – Created from frustration.
            </span>
          </h1>
        </dt>
        <div class="max-w-3xl mx-auto">
          <div>
            <div class="relative mt-6">
              <div
                class="absolute inset-0 flex items-center"
                aria-hidden="true"
              >
                <div class="border-t border-gray-300 w-fdivl"></div>
              </div>
              <div class="relative flex justify-start">
                <span
                  class="pr-3 font-serif text-xl bg-morningBase dark:bg-midnightBase text-morningSubtle"
                >
                  Available in 3 variants.
                </span>
              </div>
            </div>
          </div>

          <div role="list" class="grid grid-cols-1 mt-4 lg:grid-cols-2">
            <div>
              <ul>
                <li>
                  <p
                    class="text-base font-light truncate text-morningText dark:text-midnightText"
                  >
                    Serendipity Midnight
                  </p>
                </li>
                <li>
                  <p
                    class="text-base font-light truncate text-morningText dark:text-midnightText"
                  >
                    Serendipity Sunset
                  </p>
                </li>
                <li>
                  <p
                    class="text-base font-light truncate text-morningText dark:text-midnightText"
                  >
                    Serendipity Morning
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <dd class="w-full max-w-3xl mx-auto">
          <div class="flex flex-col mt-12">
            <div class="space-y-4">
              <div>
                <div class="relative mt-6">
                  <div
                    class="absolute inset-0 flex items-center"
                    aria-hidden="true"
                  >
                    <div class="w-full border-t border-gray-300"></div>
                  </div>
                  <div class="relative flex justify-start">
                    <span
                      class="pr-3 font-serif text-xl bg-morningSurface dark:bg-midnightBase text-morningSubtle"
                    >
                      Midnight Colors.
                    </span>
                  </div>
                </div>
              </div>
              <p class="text-base font-normal tracking-normal text-morningText dark:text-midnightText">
                Serendipity Midnight and Sunset are sharing most of the colors a
                except base and surface.
              </p>
            </div>

            <div
              class="grid items-center grid-cols-3 gap-2 mt-12 lg:grid-cols-7"
            >
              <div class="text-left shadow-xl shadow-midnightBase/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightBase"></div>
              </div>
              <div class="text-left shadow-xl shadow-midnightSurface/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightSurface"></div>
              </div>
              <div class="text-left shadow-xl shadow-midnightOverlay/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightOverlay"></div>
              </div>
              <div class="text-left shadow-xl shadow-midnightInactive/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightInactive"></div>
              </div>
              <div class="text-left shadow-xl shadow-midnightHightlight/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightHightlight"></div>
              </div>
              <div class="text-left shadow-xl shadow-midnightHighInactive/30">
                <div
                  class="p-6 rounded-sm w-8-h-8 bg-midnightHighInactive"
                ></div>
              </div>
              <div class="text-left shadow-xl shadow-midnightHighlight/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightHighlight"></div>
              </div>

              <div class="text-left shadow-xl shadow-midnightCoraline/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightCoraline"></div>
              </div>
              <div class="text-left shadow-xl shadow-midnightDusk/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightDusk"></div>
              </div>
              <div class="text-left shadow-xl shadow-midnightGeode/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightGeode"></div>
              </div>
              <div class="text-left shadow-xl shadow-midnightFennel/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightFennel"></div>
              </div>
              <div class="text-left shadow-xl shadow-midnightTruesky/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightTruesky"></div>
              </div>
              <div class="text-left shadow-xl shadow-midnightSpray/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-midnightSpray"></div>
              </div>
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</section>
<section>
  <div class="p-5">
    <div>
      <div
        class="space-y-12 gap-x-4 gap-y-4 lg:space-y-0 lg:grid lg:grid-cols-3"
      >
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-morningBase dark:bg-midnightBase h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/darkGulp.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-morningBase dark:bg-midnightBase h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/highContrastLaptop.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-morningBase dark:bg-midnightBase h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/darkTerminal.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
