<section class="bg-white">
  <div class="p-5 pt-44 2xl:max-w-7xl 2xl:mx-auto">
    <div class="max-w-3xl mx-auto">
      <div class="">
        <h1
          class="font-serif text-xl font-light tracking-tight text-tuna lg:text-4xl"
        >
          Serendipity;
          <span class="text-ship">
            A UI theme available specially for VS Code, other code editors,
            shells, UI's and GUI's.
          </span>
        </h1>
      </div>
      <div class="mt-4">
        <a
          class="block font-sans text-xl font-light tracking-tight text-mirage hover:text-bombon"
          href="vscode:extension/wicked-labs.wvsc-serendipity"
          >&rdsh; Install on vs code</a
        >
        <a
          class="block font-sans text-xl font-light tracking-tight text-mirage hover:text-bombon"
          href="https://github.com/michael-andreuzza/wvsc-serendipity"
          >&rdsh; GitHub</a
        >
      </div>
    </div>
  </div>
</section>
<section class="h-screen bg-left bg-cover lg:bg-top bg-squares"></section>
