<section>
  <div
    class="relative items-center w-full px-5 py-24 mx-auto bg-top bg-no-repeat bg-contain bg-opacity-30 md:px-12 2xl:max-w-7xl bg-editors"
  >
    <div class="inline-flex items-center gap-3">
      {{>"themes/logoMidnight"}} {{>"themes/logoSunset"}}
      {{>"themes/logoMorning"}}
    </div>

    <div class="mt-10">
      <h1
        class="text-5xl leading-snug tracking-tighter text-transparent bg-clip-text bg-gradient-to-r from-sunsetText to bg-sunsetSoft font-display lg:text-8xl"
      >
        Serendipity is a theme for VS Code that has been ported to other UI's,
        IDE's and APP's
      </h1>
      <div class="max-w-xl mt-10">
        <span class="inline-flex items-center p-2 bg-sunsetFennel"> </span>
        <span class="inline-flex items-center p-2 bg-sunsetMint"> </span>
        <span class="inline-flex items-center p-2 bg-sunsetCoral"> </span>
        <span class="inline-flex items-center p-2 bg-sunsetSalmon"> </span>
        <span class="inline-flex items-center p-2 bg-sunsetViolet"> </span>
        <span class="inline-flex items-center p-2 bg-sunsetSky"> </span>
        <p
          class="max-w-xl mt-6 text-2xl font-thin tracking-widest text-sunsetText md:mt-5"
        >
          Elegant, minimal, and clean color palette to give your eyes rest on
          different interfaces.
        </p>
      </div>

      <div class="mt-12 sm:flex">
        <div class="rounded-lg sm:mt-0">
          <a
            href="./themes.html"
            class="inline-flex text-lg font-light text-center transition duration-500 ease-in-out text-sunsetText hover:text-sunsetSlight tems-center"
          >
            Find yours! &rarr;
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="h-[50vh] bg-center bg-no-repeat bg-cover bg-editors lg:-mt-24 hidden"
></section>
