<section>
  <div class="w-full p-5 2xl:max-w-7xl 2xl:mx-auto">
    <dl class="grid w-full grid-cols-1 py-12">
      <div>
        <dd class="w-full max-w-3xl mx-auto">
          <div class="flex flex-col">
            <div class="space-y-4">
              <div>
                <div class="relative mt-6">
                  <div
                    class="absolute inset-0 flex items-center"
                    aria-hidden="true"
                  >
                    <div class="w-full border-t border-gray-300"></div>
                  </div>
                  <div class="relative flex justify-start">
                    <span class="pr-3 font-serif text-xl bg-white text-tuna">
                      Light Mode Colors.
                    </span>
                  </div>
                </div>
              </div>
              <p class="text-base font-normal tracking-normal text-ship">
                The light theme is using colors with more contrast for better
                readibilty
              </p>
            </div>
            <div
              class="grid items-center grid-cols-3 gap-2 mt-12 lg:grid-cols-5"
            >
              <div class="text-left border border-magnesium">
                <div class="px-6 py-12 rounded-sm bg-spoonPearl"></div>
                <div class="p-3 uppercase bg-white">#9fa6ad</div>
              </div>
              <div class="text-left border border-magnesium">
                <div class="px-6 py-12 rounded-sm bg-athensGray"></div>
                <div class="p-3 uppercase bg-white">#eef0f1</div>
              </div>

              <div class="text-left border border-magnesium">
                <div class="px-6 py-12 rounded-sm bg-antiFlash"></div>
                <div class="p-3 uppercase bg-white">#ffffff</div>
              </div>
              <div class="text-left border border-magnesium">
                <div class="px-6 py-12 rounded-sm bg-alabaster"></div>
                <div class="p-3 uppercase bg-white">#fafafa</div>
              </div>
              <div class="text-left border border-magnesium">
                <div class="px-6 py-12 rounded-sm bg-fadedRed"></div>
                <div class="p-3 uppercase bg-white">#ef7171</div>
              </div>
              <div class="text-center border border-magnesuim">
                <div class="px-6 py-12 rounded-sm bg-bombon"></div>
                <div class="p-3 uppercase bg-white">#ff5c98</div>
              </div>
              <div class="text-left border border-magnesium">
                <div class="px-6 py-12 rounded-sm bg-softPurple"></div>
                <div class="p-3 uppercase bg-white">#b37fff</div>
              </div>
              <div class="text-left border border-magnesium">
                <div class="px-6 py-12 rounded-sm bg-tiffany"></div>
                <div class="p-3 uppercase bg-white">#00bba6</div>
              </div>
              <div class="text-left border border-magnesium">
                <div class="px-6 py-12 rounded-sm bg-dodgerBlue"></div>
                <div class="p-3 uppercase bg-white">#298eff</div>
              </div>
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</section>
<section>
  <div class="p-5">
    <div>
      <div
        class="space-y-12 gap-x-4 gap-y-4 lg:space-y-0 lg:grid lg:grid-cols-3"
      >
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-white h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/lightGulp.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-white h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/lightLaptop.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-white h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/lightTerminal.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-white h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/linearLight.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-white h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/slackLight.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-white h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/iTerm2Light.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
