<section>
  <div class="2xl:max-w-7xl 2xl:mx-auto w-full p-5">
    <dl class="lg:py-24 grid w-full grid-cols-1">
      <div>
        <dd class="max-w-7xl w-full space-y-6">
          <div class="lg:grid-cols-8 grid grid-cols-1">
            <div class="lg:col-span-2 space-y-4">
              <div>
                <div class="relative mt-6">
                  <div
                    class="absolute inset-0 flex items-center"
                    aria-hidden="true"
                  >
                    <div class="w-full border-t border-gray-300"></div>
                  </div>
                  <div class="relative flex justify-start">
                    <span class="text-tuna pr-3 font-serif text-lg bg-white">
                      Light Mode Colors.
                    </span>
                  </div>
                </div>
              </div>
              <p class="text-ship text-base font-normal tracking-normal">
                Wicked Templates is meant to be used by developers, hobbist
                developers, freelance developers, in-house developers or any
                kind of web developer that works with Tailwind CSS and Next.js
                and wants to have theire MVP deployed as soon as possible.
              </p>
            </div>
            <div
              class=" lg:grid-cols-5 lg:p-10 lg:mt-0 grid items-center grid-cols-3 col-span-6 gap-2 mt-12"
            >
              <div class="border-magnesium text-left border">
                <div class="bg-spoonPearl px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#9fa6ad</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-athensGray px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#eef0f1</div>
              </div>

              <div class="border-magnesium text-left border">
                <div class="bg-antiFlash px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#ffffff</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-alabaster px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#fafafa</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-fadedRed px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#ef7171</div>
              </div>
              <div class="border-magnesuim text-center border">
                <div class="bg-bombon px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#ff5c98</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-softPurple px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#b37fff</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-tiffany px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#00bba6</div>
              </div>
              <div class="border-magnesium text-left border">
                <div class="bg-dodgerBlue px-6 py-12 rounded-sm"></div>
                <div class="p-3 uppercase bg-white">#298eff</div>
              </div>
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</section>
<section
  class="lg:bg-top bg-lightThemeHero h-96 lg:h-screen bg-right bg-cover"
></section>
