<section>
  <div class="p-5">
    <div>
      <div
        class="space-y-12 gap-x-4 gap-y-4 lg:space-y-0 lg:grid lg:grid-cols-3"
      >
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-white h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/lightGulp.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-white h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/lightLaptop.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
        <div class="relative">
          <div>
            <div
              class="relative w-full overflow-hidden bg-white h-80 group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-full lg:aspect-w-1 lg:aspect-h-1"
            >
              <img
                src="./images/lightTerminal.png"
                alt=" Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js. wickedtemplates.com"
                class="object-cover object-center w-full h-full"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="w-full p-5 2xl:max-w-7xl 2xl:mx-auto">
    <dl class="grid w-full grid-cols-1 py-12">
      <div>
        <dd class="w-full max-w-3xl mx-auto">
          <div class="flex flex-col">
            <div class="space-y-4">
              <div>
                <div class="relative mt-6">
                  <div
                    class="absolute inset-0 flex items-center"
                    aria-hidden="true"
                  >
                    <div class="w-full border-t border-gray-300"></div>
                  </div>
                  <div class="relative flex justify-start">
                    <span
                      class="pr-3 font-serif text-xl bg-morningSurface dark:bg-midnightBase dark:text-midnightSubtle"
                    >
                      Morning Colors.
                    </span>
                  </div>
                </div>
              </div>
              <p
                class="text-base font-normal tracking-normal text-morningText dark:text-midnightText"
              >
                The light theme is using colors with more contrast for better
                readibilty
              </p>
            </div>
            <div
              class="grid items-center grid-cols-3 gap-2 mt-12 lg:grid-cols-7"
            >
              <div class="text-left border shadow-xl shadow-morningBase/30">
                <div class="p-6 rounded-sm w-8-h-8 bg-morningBase"></div>
              </div>
              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningSurface/30"
              >
                <div class="p-6 rounded-sm w-8-h-8 bg-morningSurface"></div>
              </div>
              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningOverlay/30"
              >
                <div class="p-6 rounded-sm w-8-h-8 bg-morningOverlay"></div>
              </div>
              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningInactive/30"
              >
                <div class="p-6 rounded-sm w-8-h-8 bg-morningInactive"></div>
              </div>
              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningHightlight/30"
              >
                <div class="p-6 rounded-sm w-8-h-8 bg-morningHightlight"></div>
              </div>
              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningHighInactive/30"
              >
                <div
                  class="p-6 rounded-sm w-8-h-8 bg-morningHighInactive"
                ></div>
              </div>
              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningHighlight/30"
              >
                <div class="p-6 rounded-sm w-8-h-8 bg-morningHighlight"></div>
              </div>

              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningCoraline/30"
              >
                <div class="p-6 rounded-sm w-8-h-8 bg-morningCoraline"></div>
              </div>
              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningDusk/30"
              >
                <div class="p-6 rounded-sm w-8-h-8 bg-morningDusk"></div>
              </div>
              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningGeode/30"
              >
                <div class="p-6 rounded-sm w-8-h-8 bg-morningGeode"></div>
              </div>
              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningFennel/30"
              >
                <div class="p-6 rounded-sm w-8-h-8 bg-morningFennel"></div>
              </div>
              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningTruesky/30"
              >
                <div class="p-6 rounded-sm w-8-h-8 bg-morningTruesky"></div>
              </div>
              <div
                class="text-left shadow-xl dark:shadow-none shadow-morningSpray/30"
              >
                <div class="p-6 rounded-sm w-8-h-8 bg-morningSpray"></div>
              </div>
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</section>
