{{>"global/snackbar"}}
<section>
  <div
    class="relative items-center w-full px-5 mx-auto md:px-12 2xl:max-w-7xl"
  >
   <div class="h-full" >
  <div class="py-12">
    <h4

      class="pb-6 text-lg font-semibold leading-none text-sunsetText font-display lg:text-7xl"
    >
       morning
    </h4>
    <div class="grid grid-cols-3 md:grid-cols-6">
      {{#each data.morning}}
      <button
        x-data="{}"
        title="Click to copy"
        data-clipboard-text="{{bg}}"
        @click="$dispatch('notice', {type: 'success', text: ' ✓ Color Copied To Clipboard!'})"
        class="flex flex-col items-center h-full duration-200 ease-in-out bg-left-top hover:bg-right-bottom focus:outline-none copy-button"
      >
        <div class="w-full h-28  bg-[{{bg}}]"></div>
        <div class="inline-flex items-center justify-between h-20 gap-4 font-display">
          <p
            class="text-sm font-light i md:text-md text-sunsetText"
          >
            <span>{{name}}   </span>

          </p>
          <p
            class="text-sm font-light md:text-md text-sunsetSlight"
          >

            <span> {{bg}}  </span>
          </p>
        </div>
      </button>
      {{/each}}
    </div>
  </div>

  <div class="py-12">
    <h4

      class="pb-6 text-lg font-semibold leading-none text-sunsetText font-display lg:text-7xl"
    >
       Sunset
    </h4>
    <div class="grid grid-cols-3 md:grid-cols-6">
      {{#each data.sunset}}
      <button
        x-data="{}"
        title="Click to copy"
        data-clipboard-text="{{bg}}"
        @click="$dispatch('notice', {type: 'success', text: ' ✓ Color Copied To Clipboard!'})"
        class="flex flex-col items-center h-full duration-200 ease-in-out bg-left-top hover:bg-right-bottom focus:outline-none copy-button"
      >
        <div class="w-full h-28  bg-[{{bg}}]"></div>
         <div class="inline-flex items-center justify-between h-20 gap-4 font-display">
          <p
            class="text-sm font-light i md:text-md text-sunsetText"
          >
            <span>{{name}}   </span>

          </p>
          <p
            class="text-sm font-light md:text-md text-sunsetSlight"
          >

            <span> {{bg}}  </span>
          </p>
        </div>
      </button>
      {{/each}}
    </div>
  </div>
  <div class="py-12">
    <h4

      class="pb-6 text-lg font-semibold leading-none text-sunsetText font-display lg:text-7xl"
    >
       Midnight
    </h4>
    <div class="grid grid-cols-3 g md:grid-cols-6">
      {{#each data.morning}}
      <button
        x-data="{}"
        title="Click to copy"
        data-clipboard-text="{{bg}}"
        @click="$dispatch('notice', {type: 'success', text: ' ✓ Color Copied To Clipboard!'})"
        class="flex flex-col items-center h-full duration-200 ease-in-out bg-left-top hover:bg-right-bottom focus:outline-none copy-button"
      >
        <div class="w-full h-28  bg-[{{bg}}]"></div>
         <div class="inline-flex items-center justify-between h-20 gap-4 font-display">
          <p
            class="text-sm font-light i md:text-md text-sunsetText"
          >
            <span>{{name}}   </span>

          </p>
          <p
            class="text-sm font-light md:text-md text-sunsetSlight"
          >

            <span> {{bg}}  </span>
          </p>
        </div>
      </button>
      {{/each}}
    </div>
  </div>
</div>

    </div>
  </div>
</section>
