<div class="h-full" x-show="openTab === 1" style="display: none">
  <div class="py-20">
    <h4
      id="main-swatches"
      class="pb-6 text-lg font-semibold leading-none text-midnightText font-display"
    >
      Serendipity midnight
    </h4>
    <div class="grid grid-cols-3 md:grid-cols-6">
      {{#each data.midnight}}
      <button
        x-data="{}"
        title="Click to copy"
        data-clipboard-text="{{bg}}"
        @click="$dispatch('notice', {type: 'success', text: ' ✓ Color Copied To Clipboard!'})"
        class="flex flex-col items-center h-full duration-200 ease-in-out bg-left-top bg-midnightInterface hover:bg-right-bottom focus:outline-none copy-button"
      >
        <div class="w-full h-28  bg-[{{bg}}]"></div>
        <p
          class="inline-flex items-center h-20 px-2 text-sm font-light md:text-md text-midnightText"
        >
          <span>{{name}} </span>
        </p>
      </button>
      {{/each}}
    </div>
  </div>

  <div class="py-20">
    <h4
      id="main-swatches"
      class="pb-6 text-lg font-semibold leading-none text-midnightText font-display"
    >
      Serendipity Sunset
    </h4>
    <div class="grid grid-cols-3 g md:grid-cols-6">
      {{#each data.sunset}}
      <button
        x-data="{}"
        title="Click to copy"
        data-clipboard-text="{{bg}}"
        @click="$dispatch('notice', {type: 'success', text: ' ✓ Color Copied To Clipboard!'})"
        class="flex flex-col items-center h-full duration-200 ease-in-out bg-left-top bg-midnightInterface hover:bg-right-bottom focus:outline-none copy-button"
      >
        <div class="w-full h-28  bg-[{{bg}}]"></div>
        <p
          class="inline-flex items-center h-20 px-2 text-sm font-light md:text-md text-midnightText"
        >
          <span>{{name}} </span>
        </p>
      </button>
      {{/each}}
    </div>
  </div>
  <div class="py-20">
    <h4
      id="main-swatches"
      class="pb-6 text-lg font-semibold leading-none text-midnightText font-display"
    >
      Serendipity Morning
    </h4>
    <div class="grid grid-cols-3 g md:grid-cols-6">
      {{#each data.morning}}
      <button
        x-data="{}"
        title="Click to copy"
        data-clipboard-text="{{bg}}"
        @click="$dispatch('notice', {type: 'success', text: ' ✓ Color Copied To Clipboard!'})"
        class="flex flex-col items-center h-full duration-200 ease-in-out bg-left-top bg-midnightInterface hover:bg-right-bottom focus:outline-none copy-button"
      >
        <div class="w-full h-28  bg-[{{bg}}]"></div>
        <p
          class="inline-flex items-center h-20 px-2 text-sm font-light md:text-md text-midnightText"
        >
          <span>{{name}} </span>
        </p>
      </button>
      {{/each}}
    </div>
  </div>
</div>
