<section>
  <div class="relative items-center w-full px-5 pb-12 mx-auto md:px-12 lg:px-44 2xl:max-w-7xl">
    <div class="pt-24 mx-auto 2xl:max-w-7xl">
      <div class="pb-5 border-b border-morningInterface">
        <h1 data-animate="title" class="py-10 text-4xl font-bold leading-none tracking-tighter font-display text-morningText lg:text-6xl">
          Serendipity's color palettes.
        </h1>
        <p class="max-w-4xl mt-2 text-lg text-morningText">
          A superhypermega curated palette.
        </p>
        <div class="items-center gap-2 mt-12 lg:inline-flex">

          <span class="relative z-0 inline-flex rounded-md shadow-sm">
            <a href="https://github.com/Serendipity-Theme/ase"  class="relative inline-flex items-center px-4 py-2 text-sm font-medium border text-morningText bg-morningBase border-morningOverlay rounded-l-md hover:bg-morningFocusLow hover:border-morningFocusLow hover:text-morningSubtle focus:z-10 focus:outline-none ">
              .ase
            </a>
            <a href="https://github.com/Serendipity-Theme/aco"  class="relative inline-flex items-center px-4 py-2 -ml-px text-xs font-medium border text-morningText bg-morningBase border-morningOverlay lg:text-sm hover:bg-morningFocusLow hover:border-morningFocusLow hover:text-morningSubtle focus:z-10 focus:outline-none ">
              .aco
            </a>
            <a href="https://github.com/Serendipity-Theme/color-palette/blob/main/tailwind.config.js"   class="relative inline-flex items-center px-4 py-2 -ml-px text-xs font-medium border text-morningText bg-morningBase border-morningOverlay lg:text-sm hover:bg-morningFocusLow hover:border-morningFocusLow hover:text-morningSubtle focus:z-10 focus:outline-none ">
              Tailwind
            </a><a href="https://github.com/Serendipity-Theme/color-palette/blob/main/palette.css"  class="relative inline-flex items-center px-4 py-2 -ml-px text-xs font-medium border text-morningText bg-morningBase border-morningOverlay lg:text-sm hover:bg-morningFocusLow hover:border-morningFocusLow hover:text-morningSubtle focus:z-10 focus:outline-none ">
              CSS
            </a>
            <a href="https://github.com/Serendipity-Theme/color-palette/blob/main/palettes.scss"  class="relative inline-flex items-center px-4 py-2 -ml-px text-xs font-medium border text-morningText bg-morningBase border-morningOverlay lg:text-sm rounded-r-md hover:bg-morningFocusLow hover:border-morningFocusLow hover:text-morningSubtle focus:z-10 focus:outline-none ">
              SASS
            </a>
          </span>

        </div>
      </div>
    </div>
  </div>
</section
