<header>
  <div
    class="max-w-xl px-4 mx-auto divide-y divide-black sm:px-6 lg:max-w-7xl lg:px-16 divide-opacity-10"
  >
    <div class="flex flex-wrap items-start pb-10 sm:pt-4 sm:pb-14">
      <div
        class="flex-none w-full max-w-4xl mt-10 space-y-6 text-left xl:w-auto xl:flex-auto"
      >
        <h1
          class="text-3xl font-thin leading-snug font-display text-sunsetText sm:text-4xl"
        >
          The color palette.
        </h1>

        <p class="mt-4 text-3xl font-thin leading-snug text-sunsetSoft">
          The color palette is available in different formats and you can click
          to copy the color to clipboard.
        </p>
        <div class="items-center gap-2 mt-12 lg:inline-flex">
          <span class="relative z-0 inline-flex">
            <a
              href="https://github.com/Serendipity-Theme/ase"
              class="relative inline-flex items-center px-4 py-2 text-sm font-medium border text-sunsetText bg-sunsetBase border-sunsetOverlay hover:bg-sunsetFocusLow hover:border-sunsetFocusLow hover:text-sunsetSubtle focus:z-10 focus:outline-none"
            >
              .ase
            </a>
            <a
              href="https://github.com/Serendipity-Theme/aco"
              class="relative inline-flex items-center px-4 py-2 -ml-px text-xs font-medium border text-sunsetText bg-sunsetBase border-sunsetOverlay lg:text-sm hover:bg-sunsetFocusLow hover:border-sunsetFocusLow hover:text-sunsetSubtle focus:z-10 focus:outline-none"
            >
              .aco
            </a>
            <a
              href="https://github.com/Serendipity-Theme/color-palette/blob/main/tailwind.config.js"
              class="relative inline-flex items-center px-4 py-2 -ml-px text-xs font-medium border text-sunsetText bg-sunsetBase border-sunsetOverlay lg:text-sm hover:bg-sunsetFocusLow hover:border-sunsetFocusLow hover:text-sunsetSubtle focus:z-10 focus:outline-none"
            >
              Tailwind </a
            ><a
              href="https://github.com/Serendipity-Theme/color-palette/blob/main/palette.css"
              class="relative inline-flex items-center px-4 py-2 -ml-px text-xs font-medium border text-sunsetText bg-sunsetBase border-sunsetOverlay lg:text-sm hover:bg-sunsetFocusLow hover:border-sunsetFocusLow hover:text-sunsetSubtle focus:z-10 focus:outline-none"
            >
              CSS
            </a>
            <a
              href="https://github.com/Serendipity-Theme/color-palette/blob/main/palettes.scss"
              class="relative inline-flex items-center px-4 py-2 -ml-px text-xs font-medium border text-sunsetText bg-sunsetBase border-sunsetOverlay lg:text-sm hover:bg-sunsetFocusLow hover:border-sunsetFocusLow hover:text-sunsetSubtle focus:z-10 focus:outline-none"
            >
              SASS
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
