<section class="relative w-full">
  <div
    class="relative items-center w-full px-5 pb-12 mx-auto md:px-12 lg:px-44 2xl:max-w-7xl"
  >
    <div class="pt-24 mx-auto 2xl:max-w-7xl">
      <div class="pb-5 border-b border-morningInterface">
        <h1
          data-animate="title"
          class="py-10 text-4xl font-bold leading-none tracking-tighter font-display text-morningText lg:text-6xl"
        >
          Serendipity ported themes.
        </h1>
        <p class="max-w-4xl mt-2 text-lg text-morningSubtle">
          Serendipity has been ported to a variety of interfaces, find the one
          you need and get code instantly from the repo. Every repository has
          detailed information on how to apply them with text and images, you
          can also preview the images.
        </p>
      </div>
    </div>
  </div>
</section>
{{>"colors/tabs"}}
