<main
  class="mx-auto"
  x-data="{ tabs: [
        { id: 1, title: 'Tab 1', active: true },
        { id: 2, title: 'Tab 2', active: false },

      ], activeTab: 1 }"
>
  <section class="relative w-full">
    <div
      class="relative items-center w-full px-5 pb-12 mx-auto md:px-12 lg:px-44 2xl:max-w-7xl"
    >
      <nav class="relative z-0 flex max-w-md" aria-label="Tabs">
        <template
          class="relative self-center mt-6 bg-gray-100 rounded-lg p-0.5 flex sm:mt-8"
          x-for="(tab, ix) in tabs"
          :key="tab.id"
        >
          <a
            href="#"
            :class="tab.active ? 'bg-white' : 'bg-gray-100'"
            class="relative w-1/2 py-2 text-sm font-medium text-gray-900 bg-white border-gray-200 rounded-md shadow-sm whitespace-nowrap focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:z-10 sm:w-auto sm:px-8"
            :aria-current="tab.active ? 'page' : 'undefined'"
            @click.prevent="tabs.forEach(tab => tab.active = false); tabs[ix].active = true"
          >
            <span
              x-text="tab.title"
              :class="tab.active ? 'text-black' : 'text-gray-800'"
            ></span>
          </a>
        </template>
      </nav>

      <div class="flex w-full mt-12 bg-white">
        <section
          class="p-2 space-y-4"
          x-show="tabs.find(tab => tab.id === 1).active"
        >
          <h2>Tab 1 content</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
            accusantium ad beatae blanditiis consequuntur cum dignissimos
            doloribus dolorum, ducimus eius laudantium minus saepe voluptatem?
            Iste nesciunt quia quis tempora temporibus.
          </p>
        </section>

        <section
          class="p-2 space-y-4"
          x-show="tabs.find(tab => tab.id === 2).active"
        >
          <h2>Tab 2 content</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet,
            animi assumenda blanditiis doloremque, iste maiores molestiae omnis
            placeat praesentium provident quam quos suscipit tempora tenetur
            totam, veniam vitae? Id, quaerat?
          </p>
        </section>
      </div>
    </div>
  </section>
</main>
