{{>"global/snackbar"}}
<section>
  <div
    class="relative items-center w-full px-5 pb-12 mx-auto md:px-12 lg:px-44 2xl:max-w-7xl"
  >
    <div>
      <div
        x-data="{
                      openTab: 1,
                      activeClasses: '     text-morningBase bg-morningFennel ',
                      inactiveClasses: 'text-morningFennel  bg-morningBase'
                    }"
        class="w-full h-full"
      >

        <div class="w-full">
          {{>"colors/colorPicker"}} 
        </div>
      </div>
    </div>
  </div>
</section>
