<footer class="mx-auto divide-y border-b bg-[#f0f0f0]">
    <div
        class="container flex flex-col flex-wrap px-10 py-24 mx-auto md:items-center lg:items-start md:flex-row lg:flex-nowrap lg:px-12 xl:px-28">
        <div class="flex-shrink-0 text-left w-72 lg:mx-0">
            <a class="flex items-center font-medium text-blue-9 title-font md:justify-start">
                <div class="">

                    <strong
                        class="text-lg font-bold tracking-tighter transition duration-500 ease-in-out transform tracking-relaxed hover:text-gray-500 ">
                        {{>logo}}
                    </strong>
                </div>
            </a>

        </div>
        <div class="flex flex-wrap flex-grow mt-10 -mb-10 text-left md:pl-20 md:mt-0 lg:ml-auto">
            <div class="w-1/2 pr-8 md:w-1/3">
                <p class="mb-3 text-xs text-[#232834] capitalize">company</p>
                <nav class="mb-10 space-y-4 list-none">
                    <li>
                        <a href="https://www.wickedtemplates.com/pricing.html" title="Pricing for wicked bundle"
                            class="text-xs text-[#23283470] hover:text-[#F06897]">Pricing</a>
                    </li>
                    <li>
                        <a href="https://www.wickedtemplates.com/nextjs.html"
                            title="Templates  made with Next.js and Tailwind CSS"
                            class="text-xs text-[#23283470] hover:text-[#F06897] umami--click--footerlink-nextjs">
                            Next.js Templates
                        </a>
                    </li>
                    <li>
                        <a href="https://www.wickedtemplates.com/demos.html" title="Free Tailwind CSS Templates"
                            class="text-xs text-[#23283470] hover:text-[#F06897] umami--click--footerlink-free">Free
                            Templates
                        </a>
                    </li>
                    <li>
                        <a href="https://www.wickedtemplates.com/landing-pages.html"
                            title="Modern and beautiful Tailwind CSS  landing pages"
                            class="text-xs text-[#23283470] hover:text-[#F06897] umami--click--footerlink-landingPages">
                            Landing Page Templates</a>
                    </li>
                    <li>
                        <a href="https://www.wickedtemplates.com/multi-page.html"
                            title="Full templates with Tailwind CSS"
                            class="text-xs text-[#23283470] hover:text-[#F06897] umami--click--footerlink-multiPage">
                            Multi Page Templates</a>
                    </li>
                    <li>
                        <a href="https://www.wickedtemplates.com/templates.html"
                            title="All templates made with Tailwind CSS"
                            class="text-xs text-[#23283470] hover:text-[#F06897] umami--click--footerlink-allTemplates">All
                            Templates</a>
                    </li>

                </nav>
            </div>
            <div class="w-1/2 pr-8 md:w-1/3">
                <p class="mb-3 text-xs text-[#232834] capitalize">resources</p>
                <nav class="mb-10 space-y-4 list-none">
                    <li>
                        <a href="https://www.wickedblocks.dev/"
                            title="A GROWING COLLECTION OF components and layouts ready to copy paste on your next Tailwind CSS project."
                            class="text-xs text-[#23283470] hover:text-[#F06897]">Wickedblocks</a>
                    </li>
                    <li>
                        <a href="https://www.colorsandfonts.com/.html" title="Create beautiful backgrounds waves for "
                            class="text-xs text-[#23283470] hover:text-[#F06897]">Colors &amp;
                            fonts</a>
                    </li>
                    <li>
                        <a href="https://www.wickedbackgrounds.com/"
                            title="A collection of color and typography resources for Web Developers and Digital Designers to find inspiration."
                            class="text-xs text-[#23283470] hover:text-[#F06897]">Wicked
                            Backgrounds</a>
                    </li>
                    <li>
                        <a href="https://www.wickedbpopups.com/"
                            title="A collection of color and typography resources for Web Developers and Digital Designers to find inspiration."
                            class="text-xs text-[#23283470] hover:text-[#F06897]">Wicked
                            Popup's</a>
                    </li>
                    <li>
                        <a href="https://www.wvsc.dev/.html" title="wicked vs code themes"
                            class="text-xs text-[#23283470] hover:text-[#F06897]">Wicked VS
                            Code</a>
                    </li>
                    <li>
                        <a href="https://www.30daysoftailwindcss.com/.html" title="30 days of tailwind CSS"
                            class="text-xs text-[#23283470] hover:text-[#F06897]">30 Days of
                            TCSS</a>
                    </li>
                    <li>
                        <a href="https://www.brutalist.one/.html" title="brutalist websites"
                            class="text-xs text-[#23283470] hover:text-[#F06897]">Brutalist
                            Websites</a>
                    </li>
                </nav>
            </div>

            <div class="w-1/2 pr-8 md:w-1/3">
                <p class="mb-3 text-xs text-[#232834] capitalize">Social</p>
                <nav class="mb-10 space-y-4 list-none">
                    <li>
                        <a href="https://twitter.com/wickedlabsHQ.html" title="frequent questions and answers"
                            class="text-xs text-[#23283470] hover:text-[#F06897]">Twitter</a>
                    </li>
                    <li>
                        <a href="https://dribbble.com/MichaelAndreuzza.html" title="Refund policy"
                            class="text-xs text-[#23283470] hover:text-[#F06897]">Dribbble</a>
                    </li>
                    <li>
                        <a href="https://www.indiehackers.com/product/wicked-templates"
                            title="wicked templates newsletter"
                            class="text-xs text-[#23283470] hover:text-[#F06897]">Indie
                            Hackers</a>
                    </li>

                </nav>
            </div>
        </div>
    </div>
    <div
        class="container flex flex-col flex-wrap px-10 py-16 mx-auto md:items-center lg:items-start md:flex-row lg:flex-nowrap lg:px-12 xl:px-28">
        <div class="flex flex-wrap items-baseline mx-auto">
            <span class="mt-2 text-xs font-light text-gray-400">
                Made in the Åland Islands &amp; Spain Since 2020 by
            </span>
            <p class="mt-1 text-xs font-light text-gray-500 truncate">
                <a href="https://twitter.com/mike_andreuzza" class="px-2 text-blue-600 hover:text-gray-500"
                    rel="noopener noreferrer">Michael Andreuzza</a>
                &amp;
                <a href="https://twitter.com/g_perales" class="px-2 text-blue-600 hover:text-gray-500"
                    rel="noopener noreferrer">Gabriel Perales</a>
                @
                <a href="https://wickedlabs.dev" class="px-2 text-blue-600 hover:text-gray-500"
                    rel="noopener noreferrer">@wickedlabsHQ</a>
            </p>
        </div>
    </div>

</footer>