<div class="w-full px-2 py-6 lg:px-10 ">
    <div class="inline-flex items-center w-full px-10">
        <div class="inline-flex items-center ">
            <svg width="24" height="24" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="130" cy="130" r="130" fill="url(#paint0_radial)" />
                <defs>
                    <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(260) rotate(142.224) scale(328.941)">
                        <stop stop-color="#9EF0F0" />
                        <stop offset="0.161458" stop-color="#73D0FF" />
                        <stop offset="0.34375" stop-color="#78A9FF" />
                        <stop offset="0.5625" stop-color="#D4BFFF" />
                        <stop offset="0.802083" stop-color="#F29E74" />
                        <stop offset="1" stop-color="#F06897" />
                    </radialGradient>
                </defs>
            </svg>


        </div>
        <div class="inline-flex items-center ml-auto">
            <a href="https://twitter.com/intent/tweet?url=http://wvsc.dev/&amp;text=Serendipity%20theme,%20For%20VS%20Code,%0Aby%20@mike_andreuzza."
                class="flex items-center ml-4 space-x-2 font-normal text-white transition-colors duration-150 hover:text-blue-200">
                <svg width="20" height="20" fill="currentColor" class="text-white opacity-40 hover:text-opacity-100">
                    <path
                        d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84">
                    </path>
                </svg>
                <p>Share<span class="sr-only sm:not-sr-only"> on Twitter</span></p>
            </a>
            <a href="https://www.wickedtemplates.com" class="ml-4 group">
                <strong
                    class="font-normal tracking-tight text-white transition-colors duration-150 group-hover:text-[#78A9FF]">
                    by
                    wickedtemplates »
                </strong>
            </a>

        </div>

    </div>
</div>