<div>
  <div class="items-baseline w-full pb-5 sm:flex sm:justify-between">
    <div>
      <div class="inline-flex items-baseline">
        <h3 class="text-xl font-light leading-snug text-midnightSoft">
          Bear Blog
        </h3>
        <div class="inline-flex items-center gap-3 ml-3">
          {{>"themes/logoMidnight"}} {{>"themes/logoSunset"}}
          {{>"themes/logoMorning"}}
        </div>
      </div>
    </div>
    <div class="mt-4 lg:mt-0">
      <span>
        <a
          href="https://github.com/Serendipity-Theme/bear-blog"
          class="font-light transition duration-500 ease-in-out transform text-midnightSoft hover:text-midnightCoral focus:outline-none"
        >
          Github &rarr;
        </a>
      </span>
    </div>
  </div>
</div>
