<section c>
  <div
    class="relative items-center w-full px-5 py-24 mx-auto md:px-12 2xl:max-w-7xl"
  >
    <div class="items-center pt-12">
      <h1
        class="text-5xl leading-snug tracking-tighter text-sunsetText font-display lg:text-9xl"
      >
        Serendipity ports.
      </h1>
      <p class="mt-6 text-xl font-thin tracking-wider text-sunsetText md:mt-5">
        Serendipity has been ported to a variety of interfaces, find the one you
        need and get code instantly from the repo. Every repository has detailed
        information on how to apply them with text and images, you can also
        preview the images.
      </p>
      <div class="mt-24 space-y-24 divide-y divide-sunsetOverlay">
        <div class="pt-12">
          <div>
            <h2 class="text-lg text-sunsetText lg:text-7xl font-display">
              Code editors
            </h2>
          </div>

          <div class="flex flex-col w-full py-6 mt-6 space-y-12">
            {{>"themes/vsCode"}} {{>"themes/openVSX"}}
          </div>
        </div>

        <div class="pt-12">
          <div>
            <h2 class="text-lg text-sunsetText lg:text-7xl font-display">
              Terminals
            </h2>
          </div>

          <div class="flex flex-col py-6 mt-6 space-y-12">
            {{>"themes/windowsTerminal"}} {{>"themes/iterm"}}
          </div>
        </div>

        <div class="pt-12">
          <div>
            <h2 class="text-lg text-sunsetText lg:text-7xl font-display">
              Apps
            </h2>
          </div>

          <div class="flex flex-col py-6 mt-6 space-y-12">
            {{>"themes/linearApp"}} {{>"themes/slackChannel"}}
            {{>"themes/discord"}} {{>"themes/bearBlog"}}{{>"themes/instatus"}}
          </div>
        </div>

        <div class="pt-12">
          <div>
            <h2 class="text-lg text-sunsetText lg:text-7xl font-display">
              Code
            </h2>
          </div>

          <div class="flex flex-col py-6 mt-6 space-y-12">
            {{>"themes/css"}} {{>"themes/scss"}} {{>"themes/tailwind"}}
          </div>
        </div>
        <div class="pt-12">
          <div>
            <h2 class="text-lg text-sunsetText lg:text-7xl font-display">
              Swatches
            </h2>
          </div>

          <div class="flex flex-col py-6 mt-6 space-y-12">
            {{>"themes/aco"}} {{>"themes/ase"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
