<header>
  <div
    class="max-w-xl px-4 mx-auto divide-y divide-black sm:px-6 lg:max-w-7xl lg:px-16 divide-opacity-10"
  >
    <div class="flex flex-wrap items-start pb-10 sm:pt-4 sm:pb-14">
      <div
        class="flex-none w-full mt-10 space-y-6 text-left xl:w-auto xl:flex-auto"
      >
        <div class="items-center lg:inline-flex">
          <div>
            <h1
              class="text-3xl font-semibold leading-snug text-morningFennel sm:text-4xl lg:text-7xl"
            >
              Serendipity ports.
            </h1>
          </div>

          <div class="max-w-xl mt-10">
            <p class="mt-4 text-3xl font-light leading-snug text-morningSoft">
              Serendipity has been ported to a variety of interfaces, find the
              one you need and get the code or instrucciones how to set it up
              from the repository.
            </p>
            <p
              class="mt-4 text-sm italic font-light leading-snug text-morningSoft"
            >
              *Every repository has detailed information on how to apply them
              with text and images, you can also preview the images.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section>
  <div
    class="max-w-xl px-4 mx-auto divide-y divide-black sm:px-6 lg:max-w-7xl lg:px-16 divide-opacity-10"
  >
    <div
      class="space-y-24 border-t divide-y divide-morningOverlay border-morningOverlay"
    >
      <div class="pt-12 lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <h2 class="text-2xl font-medium leading-snug text-morningFennel">
            Code editors
          </h2>
        </div>

        <div
          class="flex flex-col w-full py-6 mt-6 space-y-12 lg:py-0 lg:mt-0 lg:col-span-2"
        >
          {{>"themes/vsCode"}} {{>"themes/openVSX"}}
        </div>
      </div>

      <div class="pt-12 lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <h2 class="text-2xl font-medium leading-snug text-morningFennel">
            Terminals
          </h2>
        </div>

        <div
          class="flex flex-col w-full py-6 mt-6 space-y-12 lg:py-0 lg:mt-0 lg:col-span-2"
        >
          {{>"themes/windowsTerminal"}} {{>"themes/iterm"}}
        </div>
      </div>

      <div class="pt-12 lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <h2 class="text-2xl font-medium leading-snug text-morningFennel">
            Apps
          </h2>
        </div>

        <div
          class="flex flex-col w-full py-6 mt-6 space-y-12 lg:py-0 lg:mt-0 lg:col-span-2"
        >
          {{>"themes/linearApp"}} {{>"themes/slackChannel"}}
          {{>"themes/discord"}} {{>"themes/bearBlog"}}{{>"themes/instatus"}}
        </div>
      </div>

      <div class="pt-12 lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <h2 class="text-2xl font-medium leading-snug text-morningFennel">
            Code
          </h2>
        </div>

        <div
          class="flex flex-col w-full py-6 mt-6 space-y-12 lg:py-0 lg:mt-0 lg:col-span-2"
        >
          {{>"themes/css"}} {{>"themes/scss"}} {{>"themes/tailwind"}}
        </div>
      </div>
      <div class="pt-12 lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <h2 class="text-2xl font-medium leading-snug text-morningFennel">
            Swatches
          </h2>
        </div>

        <div
          class="flex flex-col w-full py-6 mt-6 space-y-12 lg:py-0 lg:mt-0 lg:col-span-2"
        >
          {{>"themes/aco"}} {{>"themes/ase"}}
        </div>
      </div>
    </div>
  </div>
</section>
