<div>
  <div
    class="items-baseline pb-5 border-b sm:flex sm:justify-between border-sunsetInterface"
  >
    <div>
      <div class="inline-flex items-baseline">
        <h3 class="text-lg font-thin text-sunsetSlight lg:text-7xl">
          Tailwind CSS
        </h3>
        <div class="inline-flex items-center gap-3 ml-3">
          {{>"themes/logoMidnight"}} {{>"themes/logoSunset"}}
          {{>"themes/logoMorning"}}
        </div>
      </div>
    </div>
    <div class="mt-4 lg:mt-0">
      <span>
        <a
          href="https://github.com/Serendipity-Theme/color-palette/blob/main/tailwind.config.js"
          class="font-thin transition duration-500 ease-in-out transform text-sunsetText hover:text-sunsetFennel focus:outline-none"
        >
          Github &rarr;
        </a>
      </span>
    </div>
  </div>
</div>
