<!doctype html>
<html lang="en-US">

	<head>
		<meta name="theme-color" content="#000000">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<link rel="stylesheet" type="text/css" href="css/blackboard.css" />

		<meta property="og:url" content="https://wickedblocks.dev" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://wickedblocks.dev/images/og.png" />
		<meta name="description"
			content="A collection of layouts and components built with Tailwind ready to copy paste on your next project." />

		<meta name="keywords"
			content="Tailwind CSS Templates, Tailwind CSS Themes,  Tailwind CSS Boilerplate, CSS Frameworks, Responsive Templates, HTML5, CSS, Boilerplate, Themes, Templates, Free Templates, Free blocks ready to copy-paste " />
		<meta property="og:title"
			content="A collection of layouts and components built with Tailwind ready to copy paste on your next project." />
		<!------- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content="https://wickedblocks.dev" />
		<meta name="twitter:title"
			content="A collection of layouts and components built with Tailwind ready to copy paste on your next project." />
		<meta name="twitter:image" content="https://wickedblocks.dev/images/ogtwitter.png" />
		<!------- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="./images/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./images/favicons/favicon-16x16.png">
		<link rel="manifest" href="./images/favicons/site.webmanifest">
		<link rel="mask-icon" href="./images/favicons/safari-pinned-tab.svg" color="#3473fd">
		<meta name="msapplication-TileColor" content="#3473fd">
		<meta name="theme-color" content="#3473fd">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400&display=swap"
			rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap"
			rel="stylesheet">

		<title>wickedblocks</title>
	</head>

	<body class="min-h-screen anitialised ">
		{{#block "body"}}


		{{/block}}


		<script
			src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-clipboard@1.x.x/dist/alpine-clipboard.js"></script>

		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

		{{>js-tags}}
	</body>

</html>