<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="theme-color" content="#f6f6f6" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <meta property="og:url" content="https://serendipitytheme.com" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://serendipitytheme.com/images/og.png"
    />
    <meta
      name="description"
      content=" Elegant, minimal, and clean color palette to give your eyes rest on
          different interfaces."
    />

    <meta
      name="keywords"
      content="VS Code, Visual Studio Code, Microsoft visual studio code, vs code themes, vs code, themes"
    />
    <meta
      property="og:title"
      content=" Elegant, minimal, and clean color palette to give your eyes rest on
          different interfaces."
    />
    <!------- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://serendipitytheme.com" />
    <meta
      name="twitter:title"
      content=" Elegant, minimal, and clean color palette to give your eyes rest on
          different interfaces."
    />
    <meta
      name="twitter:image"
      content="https://serendipitytheme.com/images/ogtwitter.png"
    />
    <!------- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./images/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="./images/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./images/favicons/safari-pinned-tab.svg"
      color="#3473fd"
    />
    <meta name="msapplication-TileColor" content="#3473fd" />
    <meta name="theme-color" content="#3473fd" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap"
      rel="stylesheet"
    />

    <title>Serendipity Theme</title>
  </head>

  <body class="bg-morningBase">
    {{#block "body"}} {{/block}} {{>"global/footer"}}

    <script src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-clipboard@1.x.x/dist/alpine-clipboard.js"></script>

    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
  </body>
</html>
